.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
   
}
.slick-slide img {
    display: block;
    border-top: 5px solid #b7976c;
  }
.outer-container{
    background-color: #212536;
}
.project-box img{
    width: 300px;
}
.container h2{
    color: #ffffff;
    margin-bottom: 15px;
}
.subhead-title {
    margin-top: 15px;
    color: #c09e6f !important;
    font-weight: bold;
}
.project-box p {
    color: #fff;
}
.fi-mainbox {
    width: 50%;
    float: left;
  }
  .descrption-mainbox {
    float: left;
    width: 50%;
  }
.project-box {
    padding-left: 5px;
    padding-right: 5px;
    /* cursor: pointer; */
}
.descrption-mainbox {
    padding-left: 25px;
    padding-right: 25px;
  }
.project-box img{
    width: 100%;
}
.project-box h3 {
    text-align: left;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}
.slick-arrow.slick-prev {
    position: relative;
    top: -35px;
    right: 0 !important;
    bottom: 0 !important;
    left: 130px;
    width: 54px;
 
}
 
.slick-arrow.slick-next {
    position: absolute;
    top: -35px;
    left: 180px;
    width: 54px;
 
}

.slick-prev::before, .slick-next::before {
    font-size: 50px !important; 
    color: #f6c783 !important;
}
.slick-dots {
    padding-top: 25px !important;
    position: relative !important;
    padding-bottom: 25px !important;
}
.slick-dots button {
    background-color: #c09e6f !important;
    border-radius: 50%;
}
.slick-dots{
    bottom: 0 !important; 
}
.slick-slide a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
.fi-mainbox,
.descrption-mainbox{
  padding: 0;
  width: 100%;
  padding-bottom: 15px !important;
}
}

.checksite-button {
    padding: 15px;
    display: block;
    border: 2px solid aliceblue;
    max-width: 170px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  }